.loader {
    border: 8px solid #e3e3e3;
    border-top: 8px solid #C14D1D;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}